
.active {
  display: flex;
  position: fixed;
  z-index: 100;
  height: 100vh;
  width: 100%;
  background-color: #3b3b3be0;
  justify-content: center;
  align-items: center;
}

.desactive {
  display: none;
}

.close {
  position: relative;
  color: white;
  font-size: 49px;
  bottom: 8.8em;
  left: 5em;
  cursor: pointer;
}

.modal_content {
  background-color: white;
  width: 130vh;
  height: 93vh;
  border-radius: 22px;
  box-shadow: 0px 0px 23px #000000;
}